<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>CPV admin panel</title>
	</head>

	<body>
	<p>{{ ret|safe }}</p>
    <!-- Upload form. Note enctype attribute! -->
	{% if file_form %}
		<form action="{% url "upload" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ file_form.non_field_errors }}</p>
			<p>{{ file_form.docfile.label_tag }} {{ file_form.docfile.help_text }}</p>
			<p>
				<!--  {{ file_form.docfile.errors }} -->
				{{ file_form.docfile }}
			<input type="submit" value="Upload" /></p>
		</form>
	{% endif %}
	{% if source_form %}
	<p></p>
		<form action="{% url "form_upload" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
				<p>{{ source_form.campNames.label_tag }} <br> {{ source_form.campNames }}</p>
				<p>{{ source_form.landings.label_tag }} <br> {{ source_form.landings }}</p>
				<p>{{ source_form.offers.label_tag }} <br> {{ source_form.offers }}</p>
			<p><input type="submit" value="Parce forms" /></p>
		</form>
	{% endif %}
	{% if not source_form or not file_form  %}
	<form action="/" >
			<p><input type="submit" value="Go to main page" /></p>
	{% endif %}
	</body>
</html>
